* {
    
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
section {
    color: #DA7635;
}
nav {
    background-color: #0C090D;
    padding: 1rem ;
}
a {
    color: #ffffff ;
}
a:hover {
    color: #DA7635 ;
}
.bg-body-tertiary {
    background-color: #0C090D ;
}