section {
    color: #DA7635;
}
nav {
    background-color: #021F30;
    color: #fff;
    
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
    font-size: 20px;
}
#home {
    background-image: url(https://www.tijuana.com.br/images/slide2.jpg);
}